{% extends 'base.html' %}
{% set title='update user' %}
{% block title %}{{ title }} Page {% endblock %}
{% set page = 'update user' %}
{% block content %}
 <div>
    <h2 class="center">Update Form</h2>
        <form action="/assignment_4/update_user" method="post">
            <input type="text" name="username" placeholder="Insert Username" required>
            <input type="text" name="name" placeholder="Insert Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Insert password" required>
            <input type="hidden" name="id" value={{id}}>
            <input type="submit">
        </form>
    </div>
{% endblock %}